**Pandas** is an open source python library for providing high performance and easy to use data structures and data analysis tools 

Pandas is mainly used for data manipulation.

In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame(np.random.rand(9,10).reshape(10,9),index=['row 1','row 2 ','row 3','row 4','row 5','row 6 ','row 7','row 8','row 9','row 10'])

In [7]:
df

               0         1         2  ...         6         7         8
row 1   0.530649  0.888118  0.527234  ...  0.473123  0.155253  0.921948
row 2   0.277602  0.367693  0.362415  ...  0.337543  0.013646  0.156494
row 3   0.689475  0.280727  0.222514  ...  0.081551  0.443671  0.830029
row 4   0.780380  0.998559  0.608070  ...  0.311574  0.225020  0.615077
row 5   0.861388  0.805721  0.220411  ...  0.235041  0.709467  0.564861
row 6   0.138975  0.258172  0.961590  ...  0.200288  0.435552  0.946054
row 7   0.377660  0.505723  0.770645  ...  0.605181  0.798876  0.331023
row 8   0.368674  0.121371  0.741256  ...  0.125042  0.296960  0.381510
row 9   0.160647  0.591190  0.905556  ...  0.335330  0.064799  0.687124
row 10  0.312243  0.780345  0.050835  ...  0.363176  0.920169  0.003530

[10 rows x 9 columns]

In [8]:
df.head()

               0         1         2  ...         6         7         8
row 1   0.530649  0.888118  0.527234  ...  0.473123  0.155253  0.921948
row 2   0.277602  0.367693  0.362415  ...  0.337543  0.013646  0.156494
row 3   0.689475  0.280727  0.222514  ...  0.081551  0.443671  0.830029
row 4   0.780380  0.998559  0.608070  ...  0.311574  0.225020  0.615077
row 5   0.861388  0.805721  0.220411  ...  0.235041  0.709467  0.564861

[5 rows x 9 columns]

In [9]:
df.to_csv("test1.csv")

In [11]:
df.loc['row 1']

0    0.530649
1    0.888118
2    0.527234
3    0.940012
4    0.725598
5    0.318463
6    0.473123
7    0.155253
8    0.921948
Name: row 1, dtype: float64

In [12]:
type(df.loc['row 1'])

pandas.core.series.Series

In [13]:
df.iloc[0:3,0:4]

               0         1         2         3
row 1   0.530649  0.888118  0.527234  0.940012
row 2   0.277602  0.367693  0.362415  0.947049
row 3   0.689475  0.280727  0.222514  0.386906

In [15]:
df.iloc[3:7,4:9]

               4         5         6         7         8
row 4   0.347717  0.537090  0.311574  0.225020  0.615077
row 5   0.607453  0.862082  0.235041  0.709467  0.564861
row 6   0.565577  0.992344  0.200288  0.435552  0.946054
row 7   0.655018  0.874520  0.605181  0.798876  0.331023

In [16]:
type(df.iloc[3:7,4:9])

pandas.core.frame.DataFrame

In [22]:
#convert dataframes into arrays
a=df.iloc[4:7,0:5].values

In [23]:
a

array([[0.8613878 , 0.80572142, 0.2204105 , 0.96095996, 0.60745342],
       [0.13897516, 0.25817228, 0.96158984, 0.08397994, 0.56557736],
       [0.37766024, 0.50572306, 0.77064519, 0.5324642 , 0.65501826]])

In [24]:
df.iloc[4:7,0:5].values.shape

(3, 5)

In [27]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [33]:
df[8].value_counts()

0.381510    1
0.331023    1
0.687124    1
0.946054    1
0.156494    1
0.615077    1
0.003530    1
0.564861    1
0.921948    1
0.830029    1
Name: 8, dtype: int64

In [34]:
df[8].unique()

array([0.92194765, 0.15649392, 0.8300285 , 0.61507718, 0.56486109,
       0.94605409, 0.33102287, 0.38150994, 0.68712427, 0.0035298 ])